# Desenvolvimento de analise sentimental
* esse Jupyter Notebook est√° sendo desenvolvido o treinamento da analise sentimental

In [ ]:
!pip install pandas

In [2]:
import csv
import pandas as pd

In [2]:
sentimentos = ["Positivo", "Negativo", "Neutro"]
# PositivoüôÇ
print("\U0001f642")
# Negativo üôÅ
print("\U0001f641")
# Neutro üòê
print("\U0001f610")

üôÇ
üôÅ
üòê

In [ ]:
arquivos = list()
dicionario = dict()

with open(arquivos, encoding='UTF-8') as csvfile:
    reader = list(csv.reader(csvfile, delimiter=","))

    for i in reader:
        dicionario[i[3]] = i[1]

In [7]:
arquivo = 'exemplo.csv'
df = pd.read_csv(arquivo, sep=",")

df.head() # manda as primeiras 5 linhas

af = df.append(df)

af

    A   B   C   D
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3
3  A4  B4  C4  D4
4  A5  B5  C5  D5
5  A6  B6  C6  D6
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3
3  A4  B4  C4  D4
4  A5  B5  C5  D5
5  A6  B6  C6  D6

In [16]:
# Hora de iniciar um classificador Random Forest
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 100)
forest

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
arquivos = [
    'TweetsNeutralHash.csv',
    'TweetsNeutralNews.csv',
    'TweetsWithTheme.csv'
]

In [18]:
arquivos = [
    'TweetsNeutralHash.csv',
    'TweetsNeutralNews.csv',
    'TweetsWithTheme.csv'
]
lista = list()

for arquivo in arquivos:
    df = pd.read_csv(arquivo, sep=",", index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

frame

,id,tweet_text,tweet_date,sentiment,query_used
0,1027376569449410562,@dilsonramoslima #Fato Acho que o Roger √© um b...,Thu Aug 09 02:10:36 +0000 2018,Neutro,#fato
1,1026566106599833600,#NOVIDADE! @LATAM_BRA acaba de anunciar novo v...,Mon Aug 06 20:30:07 +0000 2018,Neutro,#novidade
2,1026445716808445952,Quando tem #novidadeüòÜ tem @novafm103 na √°rea! ...,Mon Aug 06 12:31:43 +0000 2018,Neutro,#novidade
3,1025980728356626434,@RiodeNojeira #Novidade Ta√≠ o sucesso dos filh...,Sun Aug 05 05:44:02 +0000 2018,Neutro,#novidade
4,1025531221978308608,"[Livro/Novidades] Segredos, uma hist√≥ria de Lu...",Fri Aug 03 23:57:51 +0000 2018,Neutro,#novidade
...,...,...,...,...,...
344617,1055096632600080384,As concorrentes est√£o prontas para tudo. :p Lo...,Wed Oct 24 14:00:14 +0000 2018,Positivo,PT :)
344618,1055204789058002949,@Frases_RCampos @vrr93 Falei de um j√° pensando...,Wed Oct 24 21:10:01 +0000 2018,Positivo,governo :)
344619,1054982223793938433,@njg00 @christophssj @pecesiqueira @cauemoura ...,Wed Oct 24 06:25:37 +0000 2018,Positivo,governo :)
344620,1055144918451187714,que coisa mais triste uma amiga defendendo um ...,Wed Oct 24 17:12:06 +0000 2018,Negativo,fascista :(
344621,1055068278882791425,@ElevenSports_PT @AneisCinco @putente @sitioco...,Wed Oct 24 12:07:34 +0000 2018,Positivo,PT :)